# Folders
dataset/collection/
dataset/extract/
dataset/HASH+NOHASH/
dataset/json/
dataset/meta_data/
dataset/NOHASH/
dataset/sites/
!/dataset/dataset.txt
.vscode/
__pycache__/
model/
log/


# Files
test.py
*.tar.gz
*.tgz
*.sh